@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/type';

.cargando {
  display: flex;
  justify-content: center;
  padding: $spacing-07;
}

.aviso {
  @include type.type-style('body-01');
  color: $text-helper;
}

.enlaces {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-04;
  margin-block-start: $spacing-05;
}
