@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/type';

.form {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-04;
}

.campo {
  flex: 1 1 8rem;
  min-width: 7rem;
}

.nota {
  @include type.type-style('label-01');
  color: $text-helper;
  flex-basis: 100%;
}
