@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/type';

.result {
  border-top: 1px solid $border-subtle-01;
  margin-block-start: $spacing-06;
  padding-block-start: $spacing-05;
}

.placeholder {
  @include type.type-style('body-01');
  color: $text-helper;
}
